<div>
    <label class="font-weight-bold">Details:</label>
    <table class="table table-bordered" id="tblUserDetail">
        <tr>
            <td>EmpId</td> <td></td>
        </tr>
        <tr>
            <td>Emp Name</td> <td></td>
        </tr>
        <tr>
            <td>Manager</td> <td></td>
        </tr>
        <tr>
            <td>Phone</td> <td></td>
        </tr>
        <tr>
            <td>EmilId</td> <td></td>
        </tr>
        <tr>
            <td>Address</td> <td></td>
        </tr>

    </table>
</div>
