

<div class="overflow-auto " style="max-height:400px;">
    <table id="tblUserList" class="table table-bordered table-striped  table-hover ">
        <tr>
            <th>Emp Id</th>
            <th>Emp Name</th>
            <th>Manager</th>
        </tr>
        
    </table>
</div>


